* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;

}



.App {
  text-align: center;
}


.heading {
  font-size: 2rem;
  margin: 10px;
}

.span {
  color: rgb(185, 19, 19);
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.name-tag {
  margin-top: 35px;
  font-weight: 400;
}

.name-tag a {
  text-decoration: none;
  color: rgb(238, 63, 63);;
}
